#container {
    border: 2px solid gray;
    width: 360px;
    /* 
    Set the top and bottom margin to be 0,
    and the left and right margin to be auto. This will
    make the page responsive
     */
    margin: 0 auto;
}

.completed {
    color: gray;
    text-decoration: line-through;
}